@page "/ReportViewer"
@model AspCoreRazorPages.Pages.ReportViewerModel
@{
    ViewData["Title"] = "ReportViewer";
}

    <div style="min-height: 600px;width: 100%;">
        <bold-report-viewer id="viewer" report-path="sales-order-detail.rdl" report-service-url="/api/ReportViewer"></bold-report-viewer>
    </div>

